<div class="parallax">
    <div class="parallax-image">
        <img src="{{ image }}">
    </div>
    <div class="motto">
        <div>{{ slogan }}</div>
    </div>
    <!--h3 class="text-white"></h3-->
</div>